<footer>
	<div class="table-footer">
		<div>
			<div class="social-media">
				<ul>
					<li><a href="#"><img class="icon" src="../../assets/img/IconFacebook.png" alt=""></a></li>
					<li><a href="#"><img class="icon" src="../../assets/img/IconInstagram.png" alt=""></a></li>
					<li><a href="#"><img class="icon" src="../../assets/img/IconTwitter.png" alt=""></a></li>
					<li><a href="#"><img class="icon" src="../../assets/img/IconYoutube.png" alt=""></a></li>
				</ul>
			</div>
			<ul>
				<li><a href="#">Audiodescription</a></li>
				<li><a href="#">Relations investisseurs</a></li>
				<li><a href="#">Informations l&eacute;gales</a></li>
			</ul>
		</div>
		<div>
			<ul>
				<li><a href="#">Centre d'aide</a></li>
				<li><a href="#">Recrutement</a></li>
				<li><a href="#">Pr&eacute;f&eacute;rences de cookies</a></li>
			</ul>
		</div>
		<div>
			<ul>
				<li><a href="#">Cartes cadeaux</a></li>
				<li><a href="#">Conditions d'utilisation</a></li>
				<li><a href="#">Mentions légales</a></li>
			</ul>
		</div>
		<div>
			<ul>
				<li><a href="#">Presse</a></li>
				<li><a href="#">Confidentialit&eacute;</a></li>
				<li><a href="#">Nous contacter</a></li>
			</ul>
		</div>
	</div>
	<p><span id="button-footer">Code de service</span></p>
	<p>2022 - Reproduction de la homepage Netflix par Valentin Berbett</p>
</footer>