<div id="main">
	<div id="presentation-main">
		<img id="img-main" src="../../assets/img/QueensGambit.jpg" alt="Deux joueurs d'échec s'affrontent">
		<div id="text-main">
			<div id="title-main">
				<div id="type-main">
					<img class="icon netflix-production" src="../../assets/img/LogoN.png" alt="">
					<h2>S&eacute;rie</h2>
				</div>
				<h1>Queen's Gambit</h1>
				<p class="synopsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<div id="buttons-main">
					<button type="button" class="button-play"><img class="icon" src="../../assets/img/IconPlay.png" alt="">Lecture</button>
					<button type="button" class="button-info"><img class="icon" src="../../assets/img/IconInfo.png" alt="">Plus d'infos</button>
				</div>
			</div>
			<div class="casting">
				<div><img class="icon-big" src="../../assets/img/IconChairWhite.png" alt="Casting"><p>Anya Taylor-Joy</p></div>
				<div><img class="icon-big" src="../../assets/img/IconChairWhite.png" alt="Casting"><p>Marielle Heller</p></div>
				<div><img class="icon-big" src="../../assets/img/IconChairWhite.png" alt="Casting"><p>Thomas Brodie-Sangster</p></div>
			</div>
		</div>
	</div>
	<div class="presentation-rows">
		<div class="row">
			<div class="slider-mask show">
				<div class="slider">
					<app-row-top10></app-row-top10>
				</div>
			</div>
		</div>
		<app-row-classic></app-row-classic>
	</div>
</div>
