<div class="background wrapper">
    <div id="account-list">
        <h1>Qui est-ce ?</h1>
            <ul>
                <li><a href="http://localhost:4200/home"><img src="../../assets/img/Avatar1.png" alt="">Valentin</a></li>
                <li><a href="http://localhost:4200/home"><img src="../../assets/img/Avatar2.png" alt="">Ronan</a></li>
                <li><a href="http://localhost:4200/home"><img src="../../assets/img/AvatarKids.jpg" alt="">Jeunesse</a></li>
            </ul>

        <div>
            <a id="button" href="">G&eacute;rer les profils</a>
        </div>
    </div>
</div>
