.slider {
	padding: 0 60px;
	touch-action: pan-y;
	position: relative;
}

.slider-mask {
	overflow-x: hidden;
	width: 100%;
}

.show {
	overflow-x: visible;
}

.slider-row {
	white-space: nowrap;
}

.slider-item {
	width: 16.6666667%;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	padding: 0 0.2vw;
	vertical-align: top;
	white-space: normal;
	cursor: pointer;
}

.PresTop10 {
	display: flex;
	align-items: center;
	height: 180px;
}

.button {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	width: 60px;
	height: 180px;
	background-color: hsla(0,0%,8%,.5);
	position: absolute;
	cursor: pointer;
	z-index: 5;
	visibility: visible;
	top: 0;
	bottom: 0;
}

.next {
	right: 0;
}

.previous {
	left: 0;
}

.button img {
	width: 32px;
	height: 32px;
	visibility: hidden;
}

.previous img {
	transform: rotate(90deg);
}

.next img {
	transform: rotate(-90deg);
}

.CardTop10 {
	height: 100%;
}

.CardTop10 img{
	display: inline-block;
	height: 100%;
	border-radius: 0 2% 2% 0;
}

.NumberTop10 {
	display: inline-block;
	margin-right: -30px;
	font-family: "Roboto-extrabold";
	font-size: 230px;
	margin-top: 0;
	margin-bottom: 0;
	text-shadow: 4px 0 #B0B0B0, -4px 0 #B0B0B0, 0 4px #B0B0B0, 0 -4px #B0B0B0,
			   4px 4px #B0B0B0, -4px -4px #B0B0B0, 4px -4px #B0B0B0, -4px 4px #B0B0B0;
	color: #000000;
}