.slider {
	padding: 0 60px;
	touch-action: pan-y;
	position: relative;
	overflow: hidden;
}

.slider-mask {
	overflow-x: hidden;
	width: 100%;
}

.show {
	overflow-x: visible;
}

.slider-row {
	white-space: nowrap;
}

.slider-item {
	width: 16.6666667%;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	padding: 0 0.2vw;
	vertical-align: top;
	white-space: normal;
	cursor: pointer;
}

.PresTop10 {
	display: flex;
	align-items: center;
	height: 180px;
}

.background-overflow {
	background-color: hsla(0,0%,8%,.5);
	position: absolute;
	top: 0;
	bottom: 0;
	width: 60px;
	height: 180px;
	z-index: 4;
}

.button {
	display: none;
	justify-content: center;
	text-align: center;
	align-items: center;
	width: 60px;
	height: 180px;
	position: absolute;
	top: 0;
	bottom: 0;
	cursor: pointer;
	z-index: 5;
}

.next {
	right: 0;
}

.previous {
	left: 0;
}

.button img {
	width: 32px;
	height: 32px;
}

.button:hover img {
	width: 45px;
	height: 45px;
	transition: 0.15s;
}

.previous img {
	transform: rotate(90deg);
}

.next img {
	transform: rotate(-90deg);
}

.CardTop10 {
	height: 100%;
}

.CardTop10 img{
	display: inline-block;
	height: 100%;
	border-radius: 0 2% 2% 0;
}

.NumberTop10 {
	display: inline-block;
	margin-right: -30px;
	font-family: "Roboto-extrabold";
	font-size: 230px;
	margin-top: 0;
	margin-bottom: 0;
	text-shadow: 4px 0 rgb(89, 89, 89), -4px 0 rgb(89, 89, 89), 0 4px rgb(89, 89, 89), 0 -4px rgb(89, 89, 89),
			   4px 4px rgb(89, 89, 89), -4px -4px rgb(89, 89, 89), 4px -4px rgb(89, 89, 89), -4px 4px rgb(89, 89, 89);
	color: #000000;
}

.slider-item:last-of-type .NumberTop10 {
	font-size: 140px;
	margin-right: -20px;
	letter-spacing: -20px;
	text-shadow: 2px 0 rgb(89, 89, 89), -2px 0 rgb(89, 89, 89), 0 2px rgb(89, 89, 89), 0 -2px rgb(89, 89, 89),
			   2px 2px rgb(89, 89, 89), -2px -2px rgb(89, 89, 89), 2px -2px rgb(89, 89, 89), -2px 2px rgb(89, 89, 89);
}