<header>
    <div class="align-header">
        <div Id="main-nav">
            <img id="logo" src="../../assets/img/LogoNetflix.png" alt="Logo Netflix">
            <nav>
                <ul>
                    <li><a class="active">Accueil</a></li>
                    <li><a>S&eacute;ries</a></li>
                    <li><a>Films</a></li>
                    <li><a>Nouveaut&eacute;s les plus regard&eacute;s</a></li>
                    <li><a>Ma liste</a></li>
                    <li><a>Explorer par langue</a></li>
                </ul>
            </nav>
        </div>
		<div class="nav-account">
            <ul>
                <li><a><img class="icon" src="../../assets/img/IconSearch.svg" alt="Loupe"></a></li>
                <li><a>DIRECT</a></li>
                <li><a>Jeunesse</a></li>
                <li><a><img class="icon" src="../../assets/img/IconBell.svg" alt="Cloche"></a></li>
                <li><a><img class="icon" src="../../assets/img/IconAvatar.png" alt="Avatar"><img class="little-icon" src="../../assets/img/IconTriangle.svg" alt="pointeur vers le bas"></a></li>
            </ul>
        </div>
    </div>
</header>
<div id="main">
	<div id="presentation-main">
		<img id="img-main" src="../../assets/img/QueensGambit.jpg" alt="Deux joueurs d'échec s'affrontent">
		<div id="text-main">
			<div id="title-main">
				<div id="type-main">
					<img class="icon netflix-production" src="../../assets/img/LogoN.png" alt="">
					<h2>S&eacute;rie</h2>
				</div>
				<h1>Queen's Gambit</h1>
				<p class="synopsis">OUI OUI OUI, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<div id="buttons-main">
					<button type="button" class="button-play"><img class="icon" src="../../assets/img/IconPlay.png" alt="">Lecture</button>
					<button type="button" class="button-info"><img class="icon" src="../../assets/img/IconInfo.svg" alt="">Plus d'infos</button>
				</div>
			</div>
			<div class="casting">
				<div><img class="icon-big" src="../../assets/img/IconChairWhite.png" alt="Casting"><p>Anya Taylor-Joy</p></div>
				<div><img class="icon-big" src="../../assets/img/IconChairWhite.png" alt="Casting"><p>Marielle Heller</p></div>
				<div><img class="icon-big" src="../../assets/img/IconChairWhite.png" alt="Casting"><p>Thomas Brodie-Sangster</p></div>
			</div>
		</div>
	</div>
	<app-row></app-row>
</div>
<footer>
	<div class="table-footer">
		<div>
			<div class="social-media">
				<ul>
					<li><a href="#"><img class="icon" src="../../assets/img/IconFacebook.svg" alt=""></a></li>
					<li><a href="#"><img class="icon" src="../../assets/img/IconInstagram.svg" alt=""></a></li>
					<li><a href="#"><img class="icon" src="../../assets/img/IconTwitter.svg" alt=""></a></li>
					<li><a href="#"><img class="icon" src="../../assets/img/IconYoutube.svg" alt=""></a></li>
				</ul>
			</div>
			<ul>
				<li><a href="#">Audiodescription</a></li>
				<li><a href="#">Relations investisseurs</a></li>
				<li><a href="#">Informations l&eacute;gales</a></li>
			</ul>
		</div>
		<div>
			<ul>
				<li><a href="#">Centre d'aide</a></li>
				<li><a href="#">Recrutement</a></li>
				<li><a href="#">Pr&eacute;f&eacute;rences de cookies</a></li>
			</ul>
		</div>
		<div>
			<ul>
				<li><a href="#">Cartes cadeaux</a></li>
				<li><a href="#">Conditions d'utilisation</a></li>
				<li><a href="#">Mentions légales</a></li>
			</ul>
		</div>
		<div>
			<ul>
				<li><a href="#">Presse</a></li>
				<li><a href="#">Confidentialit&eacute;</a></li>
				<li><a href="#">Nous contacter</a></li>
			</ul>
		</div>
	</div>
	<p><span id="button-footer">Code de service</span></p>
	<p>2022 - Reproduction de la homepage Netflix par Ronan Paturel & Valentin Berbett</p>
</footer>
