<div class="row">
	<div class="slider">
		<span class="button previous">
			<img src="../../assets/img/IconArrow.svg" alt="">
		</span>
		<div class="slider-mask show">
			<div class="slider-row">
				<div class="slider-item active" *ngFor="let title of movieTitles">
					<div class="CardClassic">
						<h6>{{ title[0] }}</h6>
						<div class="filter">
							<img [src]="title[1]" alt=""/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<span class="button next">
			<img src="../../assets/img/IconArrow.svg" alt="">
		</span>
	</div>
</div>