.slider {
	padding: 0 60px;
	position: relative;
	touch-action: pan-y;
	overflow: hidden;
}

.slider-mask {
	overflow-x: hidden;
	width: 100%;
}

.show {
	overflow-x: visible;
}

.slider-row {
	white-space: nowrap;
}

.slider-item {
	width: 16.6666667%;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.background-overflow {
	background-color: hsla(0,0%,8%,.5);
	position: absolute;
	top: 0;
	bottom: 0;
	width: 60px;
	z-index: 4;
	border-radius: 2%;
	transition: 0.1s background-color;
}

.background-overflow.previous {
	display: none;
}

.background-overflow:hover {
	background-color: hsla(0,0%,8%,.8);
	transition: 0.1s;
}

.button {
	display: none;
	justify-content: center;
	text-align: center;
	align-items: center;
	width: 60px;
	position: absolute;
	top: 0;
	bottom: 0;
	cursor: pointer;
	z-index: 5;
}

.next {
	right: 0;
}

.previous {
	left: 0;
}

.button img {
	width: 32px;
	height: 32px;
}

.button:hover img {
	width: 45px;
	height: 45px;
	transition: 0.15s;
}

.previous img {
	transform: rotate(90deg);
}

.next img {
	transform: rotate(-90deg);
}

.CardClassic {
	height: 130px;
	border-radius: 2%;
	display: flex;
	align-items: end;
	justify-content: center;
}

.filter {
	background-color: #000000;
	height: 130px;
	width: fit-content;
}

.CardClassic h6 {
	position: absolute;
	color: #FFFFFF;
	z-index: 1;
	margin: 0 10px 10px;
	white-space: pre-line;
	text-align: center;
}

.CardClassic img {
	width: 224px;
	height: 130px;
	border-radius: 2%;
	opacity: 0.8;
}